
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:arinnovations@outlook.com ">arinnovations@outlook.com</a>
        <i class="fa fa-phone"></i> +91 9943679701, +91 9976468758
      </div>
      <div class="social-links float-right">
        <a href=" https://www.linkedin.com/company/ar-innovations/" class="linkedin" target="_blank" >
        <img src="assets/img/linkedin-logo.png" width="23px" height="20px"/></a>
      </div>
    </div>
</section>


<header id="header">
  <div class="container">

      <div id="logo" class="pull-left">
        <a href="#" class="body"><img src="assets/img/logo.PNG" alt="" title="" width="300px" height="50px"/></a>

      </div>

      <nav id="nav-menu-container">
      <ul class="nav-menu">
          <li><a href="/">Back to Home</a></li>
      </ul>
      </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<section id="about" class="wow fadeInUp">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 about-img">
            <img src={{products.productImage}} alt="">
        </div>

        <div class="col-lg-6 content">
            <h2>{{products.productName}}</h2>

            <p class="text-justify">
              {{products.productDescription}}
            </p>
        </div>
    </div>

    </div>
</section>
