
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:arinnovations@outlook.com ">arinnovations@outlook.com</a>
        <i class="fa fa-phone"></i> +91 9943679701, +91 9976468758
      </div>
      <div class="social-links float-right">
        <a href=" https://www.linkedin.com/company/ar-innovations/" class="linkedin" target="_blank" >
        <img src="assets/img/linkedin-logo.png" width="23px" height="20px"/></a>
      </div>
    </div>
</section>


<header id="header">
  <div class="container">

      <div id="logo" class="pull-left">
        <a href="#" class="body"><img src="assets/img/logo.PNG" alt="" title="" width="300px" height="50px"/></a>

      </div>

      <nav id="nav-menu-container">
      <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us </a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#solutions">Solutions</a></li>
        <!--  <li><a href="#downloads">Downloads</a></li>-->
          <li><a href="#contact">Contact</a></li>
          <li><a href="#subscribe">Subscribe</a></li>
      </ul>
      </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->



    <!--==========================
    Intro Section
    ============================-->
    <section id="intro">

    <div class="intro-content">
        <h2>Making <span>your ideas</span><br>happen!</h2>
        <div>
        <a href="#products" (click)="ngOnInit()" class="btn-projects scrollto">Our Products</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
        <div class="item" style="background-image: url('assets/img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/5.jpg');"></div>
    </div>

    </section><!-- #intro -->

    <main id="main">

    <!--==========================
        About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="assets/img/about-img.jpeg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>About Us</h2>

                <p class="text-justify">
                  We, AR innovations is one amongst the most reputed organizations, Our motto <b>"Better way to be Creative"</b> provides a solution for the industrial needs by analyse, modify and develop an innovative sustainable product for the industries, specializing in Designing, manufacturing, supplying a wide assortment of Machine Turnkey Solutions, Special Purpose Machines, Inspection Systems, Automation Systems, Robot based Automation, High Speed Pick and Place Solutions, Solutions and Consulting Services.
                </p>
            </div>
        </div>

        </div>
    </section><!-- #about -->


    <!--==========================
        Services Section
    ============================
    <section id="services">
        <div class="container">
        <div class="section-header">
            <h2>Products</h2>
            <p>Lorem ipsum</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon">
                    <a href="#" class="body">
                        <img height="80%" width="80%" src="assets/img/process_lines_and_pipes.jpg" alt="" title=""/>
                    </a>
                </div>
                <h4 class="title"><a href="">Process lines and pipes </a></h4>
                <p class="description">
                    Lorem ipsum
                </p>
                <div class="icon"><i class="fa fa-map"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>

            </div>
            </div>

            <div class="col-lg-6">
            <div class="box wow fadeInRight">
                <div class="icon">
                    <a href="#" class="body">
                        <img height="80%" width="80%" src="assets/img/structural_steel.jpg" alt="" title=""/>
                    </a>
                </div>
                <h4 class="title"><a href="">Structural steel</a></h4>
                <p class="description">
                    All these products will be available in a variety of grades to suit any projects needs.
                    In addition, to provide maximum project flexibility, the above standards can be modified to meet specific technical requirements.
                </p>
                <div class="icon"><i class="fa fa-map"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>

            </div>
            </div>

            <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
            </div>

            <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-map"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
            </div>

        </div>

        </div>
    </section> #services -->

    <!--==========================
        Clients Section
    ============================
    <section id="clients" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Clients</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="owl-carousel clients-carousel">
            <img src="assets/img/clients/client-1.png" alt="">
            <img src="assets/img/clients/client-2.png" alt="">
            <img src="assets/img/clients/client-3.png" alt="">
            <img src="assets/img/clients/client-4.png" alt="">
            <img src="assets/img/clients/client-5.png" alt="">
            <img src="assets/img/clients/client-6.png" alt="">
            <img src="assets/img/clients/client-7.png" alt="">
            <img src="assets/img/clients/client-8.png" alt="">
        </div>

        </div>
    </section> #clients -->

    <!--==========================
        Our products Section
    ============================-->
    <section id="products" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Products</h2>
                <p>
                  We provide the best products with the technical solutions. We also pride ourselves on the excellence of execution and the quality of the human relationships which we have with our customers. With AR INNOVATIONS, you never have to compromise...
                </p>
            </div>
        </div>

        <div class="container">
        <div class="row no-gutters">
          <div class=" col-md-4">
                    <div class="products-item wow fadeInUp" [routerLink]="['products',1]">

                        <img src="assets/img/products/1.JPG" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"  [routerLink]="['products',1]"><h2 class="">Product 1</h2></div>
                        </div>
                        
                    </div>
                    </div>

<!--
            <div class="col-md-4">
            <div class="products-item wow fadeInUp">
                <a [routerLink]="['products',1]" class="products-popup">
                <img src="assets/img/products/1.JPG" alt="">
                <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                </div>
                </a>
            </div>
            </div>
          -->
            <div class="col-md-4">
            <div class="products-item wow fadeInUp">
                <a [routerLink]="['products',2]" class="products-popup">
                <img src="assets/img/products/2.JPG" alt="">
                </a>
            </div>
            </div>
            <div class="col-md-4">
            <div class="products-item wow fadeInUp">
                  <a [routerLink]="['products',3]" class="products-popup">
                <img src="assets/img/products/3.jpg" alt="">
                </a>
            </div>
            </div>










        </div>

        </div>
    </section>

<!--
    <section id="testimonials" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Testimonials</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
            </div>

            <div class="testimonial-item">
                <p>
                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
            </div>

        </div>

        </div>
    </section>
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
        </div>

        </div>
    </section>
  -->
    <section id="team" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Our Team</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="member">
                <div class="details">

                <h4>Asok Raj</h4>

                <div class="description">
                  Asok Raj has several years of experience assisting team members in
                  the working environment regarding the Current Technology emerging
                  in the market and creates a path to innovate the needs of the
                  customers. He has creative ideas with organizational skills that excite
                  our team and help us be more efficient in what we do. He loves new
                  experiences, and more than that, he loves reading books and sharing
                  those experiences/stories with his teammates to make the working
                  environment comfortable.
                </div>


                </div>
            </div>
            </div>

            <div class="col-md-6">
            <div class="member">
                <div class="details">
                <h4>Agatheeshwarar</h4>
                <div class="description">
                  Agatheeshwarar has enjoyed designing ever since he discovered that
                  he could utilize emerging Technologies to customize machines with
                  innovative ideas. Throughout his career, Agatheesh has played a wide
                  range of roles including, managing the team and technology needs for
                  start-ups, teaming up with small businesses on design and assembly
                  on machineries as well as working for optimization as a developer.
                  Agatheesh likes to tend to his garden and also enjoys long walks.
                </div>

                </div>
            </div>
            </div>


        </div>

        </div>
    </section>

	<br>
  <!--==========================
      Downloads Section
  ============================-->
  <!--
	<section id="downloads" class="wow fadeInUp">
    <div class="container">
    <div class="section-header">
        <h2>Downloads</h2>
        <p>Get in touch with us soon : </p>
    </div>
        <div class="row">


        </div>

        </div>
    </section>
-->

<!--==========================
    Solutions Section
============================-->

<section id="solutions" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
        <h2>Solutions</h2>
    </div>
  <div class="row">


      <div class="col-lg-6 content">

          <p class="text-justify">
          AR Innovations offers on site solution whoever want to improve quality, productivity, cost reduction, ease of operation, through automation by bringing ideas into reality.
          </p>
      </div>
      <div class="col-lg-6 about-img">
          <img src="assets/img/solutions.jpg" alt="">
      </div>
  </div>

  </div>
  </section>







    <!--==========================
        Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Contact Us</h2>
            <p>Get in touch with us soon : </p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
            <div class="contact-address">
                <i class="ion-ios-location-outline"></i>

                <address>Maatru Nivas, House no 18, Third Floor,Balaji Krupa Layout- Phase 2, Manipal County Road,  Singasandra, Bengaluru – 560 068.</address>
            </div>
            </div>

            <div class="col-md-4">
            <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>

                <p><a href="tel:+91 9943679701, +91 9976468758">+91 9943679701, +91 9976468758</a></p>
            </div>
            </div>

            <div class="col-md-4">
            <div class="contact-email">
                <i class="ion-ios-email-outline"></i>

                <p><a href="mailto:arinnovations@outlook.com">arinnovations@outlook.com</a></p>
            </div>
            </div>

        </div>
        </div>


        <div id="google-map" class="container" data-latitude="12.8760223" data-longitude="77.6375058"></div>
      </section>

      <section id="subscribe" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Subscribe & Enquiry</h2>

        </div>



        <div class="container">
        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage">There is a error in Sending Your Message..!!</div>


            <form method="post" role="form" class="contactForm" id="contactForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"  />
                </div>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="number" id="number" placeholder="Contact Number" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message"></textarea>

            </div>
            <div class="text-center"><button type="submit" id="contactSendMessage">Send Message</button></div>
            </form>
        </div>

        </div>
      </div>
    </section>

    </main>
